.Pp{
  border-radius: 10px 10px 0px 0px;
  border: 2px solid;
  align-items: center;
  text-align: center;
}
.info-box{
  display: grid;
  margin: auto;
  position: center;
  color: white;
  border-width: 5px;
  align-items: center;
  background-color: #1A1B21;
  text-align: center;
  letter-spacing: -0.05em;
  max-width: 308px;
  border-radius: 10px 10px 10px 10px;

}
#root{
  display: grid;
}
.Name{
  font-weight: 700;
  size: 25px;
  line-height: 30.26px;
  margin-bottom:0 ;
}
.Job{
  color: #F3BF99;
  font-weight: 400;
  font-size: 12.8px;
}
.WebSite{
  font-weight: 400;
  font-size: 10.24px;
}
#Email{
  background-color: #FFFFFF;
  width: 115px;
  border-radius: 6px;
  padding: 9px 13px 9px 11px;
  color: black;
  border: 2px solid;
  border-color: #5093E2;
  margin-right: 10px;
}
#linkedIn{
  background-color: #5093E2;
  width: 115px;
  border-radius: 6px;
  padding: 9px 13px 9px 11px;
  color: #FFFFFF;
  border: 1px solid;
  border-color: #FFFFFF;
}
.header{
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.about{
  text-align: left;
  margin-left: 20px;
  letter-spacing: -0.05em;
}
.footer{
  display: flexbox;
  background-color: #161619;
  border-radius: 10px;
  margin: 0; 
}
.git{
  width: 48px;
  height: 48px;
}


